{
  "env": {
    "development": {
      "presets": [
        [
          "vue"
        ]
      ]
    },
    "test": {
      "presets": [
        [
          "vue"
        ]
      ],
      "plugins": [
        "istanbul"
      ]
    }
  }
}
